table, tr, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 500px;
}
th{
    background: yellow;
}
.left{
    text-align: left;
    width: 200px;
    float: left;
}
.right{
    width: 200px;
    float: left;
    text-align: right;
}